<%= render( 
  :partial => 'toolbawks/addresses/field', 
  :locals => { 
    :field_input => text_field(:address, field_column, :name => "#{address_alias}_address[#{field_column}]", :id => address_alias + '_address_' + field_column, :class => field_column), 
    :address_alias => address_alias, 
    :field_name => field_name, 
    :required => required
  } 
) %>